// Dimensions
$dot-size: 2px;
$dot-space: 150px;

body {
  background: var(--bg1);
  #page {
    background: linear-gradient(
          90deg,
          var(--bg1) ($dot-space - $dot-size),
          transparent 1%
        )
        center,
      linear-gradient(var(--bg1) ($dot-space - $dot-size), transparent 1%)
        center,
      var(--color1);
    background-size: $dot-space $dot-space;
  }
}
