section.contact {
  text-align: center;
  h3 {
    font-size: 2rem;
    text-transform: initial;
  }
  .link {
    transform: translate(-5px, 18px);
    &:hover {
      svg {
        fill: $linkedin;
      }
    }
    svg {
      width: 148px;
      height: 38px;
      fill: var(--color2);
      transform: translateY(6px);
      transition: fill $color-theme;
    }
  }
}
