section.contact {
  text-align: center;
  h3 {
    font-family: $font-base;
    font-size: 2rem;
    text-transform: initial;
  }
  h4 {
    font-family: $font-base;
    text-transform: initial;
    margin-bottom: 30px;
  }
  svg {
    display: inline-block;
    fill: var(--color2);
  }
  a {
    margin: 0 10px;
    svg {
      transition: fill $link-time;
    }
    &:hover {
      svg {
        fill: var(--color1);
      }
    }
  }
  .mail {
    svg {
      width: 53px;
      height: 40px;
    }
  }
  .linkedin {
    svg {
      width: 42px;
      height: 42px;
    }
  }
  .link.border {
    transform: translate(-5px, 18px);
    @include media-below(sm) {
      display: block;
    }
    &:hover {
      svg {
        fill: $linkedin;
      }
    }
    svg {
      width: 148px;
      height: 38px;
      fill: var(--color2);
      transform: translateY(6px);
      transition: fill $color-theme;
      @include media-below(sm) {
        fill: $linkedin;
      }
    }
  }
}
