.error-404 {
  width: 100%;
  text-align: center;
  h1 {
    margin-bottom: 30px;
    line-height: 1.2;
  }
  h2 {
    text-transform: initial;
  }
  &__text {
    width: 75%;
    margin: 0 auto 60px;
    @include media-below(md) {
      width: 100%;
    }
  }
  p {
    display: block;
    margin-top: 120px;
  }
}
