.scroller {
  padding-top: 100px;
  &__shape {
    width: 60px;
    height: 100px;
    border-radius: 35px;
    border: 2px solid var(--color1);
    margin: 0 auto;
  }
  span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: var(--color1);
    transform: translateY(15px);
    animation: scrollDown 3s infinite;
  }
}

@keyframes scrollDown {
  O {
    opacity: 1;
    transform: translateY(15px);
  }
  30% {
    height: 30px;
  }
  50% {
    opacity: 0.4;
    height: 30px;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    height: 10px;
    transform: translateY(15px);
  }
}
