/** Colors */
$white: #fff;
$black: #000;
$appear-time: 1.5s;
$appear-time-quick: 1s;
$color-theme: 0.75s ease;

html {
  --bg2: #ffffff;
  --bg1: #f0f0f0;
  --color2: #272727;
  --color1: #ffa581;
  --grad1: #f9b16e;
  --grad2: #f68080;
}

html[data-theme='dark'] {
  --bg2: #232931;
  --bg1: #393e46;
  --color2: #eeeeee;
  --color1: #4ecca3;
  --grad1: #09e485;
  --grad2: #0291e3;
}

// Dark Theme Colors
$dark-four: #232931;
$dark-three: #393e46;
$dark-two: #4ecca3;
$dark-one: #eeeeee;

// Light Theme Colors
$light-four: #272727;
$light-three: #f0f0f0;
$light-two: #ffffff;
$light-one: #ffa581;

$bezier-out: cubic-bezier(0.25, 0.5, 0.25, 1);
$bezier-in: cubic-bezier(0.75, 0, 0.75, 0.5);
$bezier-in-out: cubic-bezier(0.75, 0, 0.25, 1);

$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
);

// $breakpoints: (
//   xs: 480px,
//   sm: 768px,
//   md: 1024px,
//   lg: 1200px,
// mb: 0, // Mobile
// cb: 320, // Mobile
// cbc: 480, // Mobile
// bmb: 640, // Mobile
// tb: 768, // Tablet
// btb :992, // mid Tablet/Laptop
// md: 1200, // custom medium
// lt: 1440, // Laptop
// dt: 1920, // Desktop,,,,
// );
